.button {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-radius: 10px;
    -fx-border-color: rgba(255, 255, 255, 0.5);
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-padding: 10px 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0, 2);
    -fx-opacity: 0.9;
}

.button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.4);
    -fx-border-color: rgba(255, 255, 255, 0.7);
}

.button:pressed {
    -fx-background-color: rgba(255, 255, 255, 0.3);
    -fx-border-color: rgba(255, 255, 255, 0.7);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 5, 0.5, 0, 0);
}